header-height = 30px
footer-height = 20px

reset()
	body, html
		margin 0; padding 0; overflow: hidden; font-family: Helvetica; font-size:20px;

box-shadow()
	-webkit-box-shadow arguments; box-shadow arguments;

component()
	position absolute; overflow hidden; width 100%;

reset()

.WorkScreen
	.header
		component(); height header-height; top 0; padding 4px 4px 0; box-shadow 0 3px 5px #888;
		.logo
			text-shadow 2px 2px 3px #333;
	.body
		component(); top header-height + 4px; bottom footer-height;
		.task
			padding 8px; border-bottom:1px solid #ccc;
	.footer
		component(); height footer-height; bottom 0;

