reset()
	body, html
		margin 0; padding 0; overflow: hidden; font-family: Helvetica; font-size:20px;

box-shadow()
	-webkit-box-shadow arguments; box-shadow arguments;

component()
	position absolute; overflow hidden; width 100%;

reset()

.WorkScreen
	.header
		component(); top 0; padding 4px 4px 0; box-shadow 0 3px 5px #888;
		.logo
			text-shadow 2px 2px 3px #333;
	.body
		component();
		.task
			padding 4px 8px 8px; border-bottom:1px solid #ccc; height:22px; line-height:26px; overflow:hidden;
	.footer
		component(); bottom 0;

.taskFocus textarea
	font-size 16px; padding 8px;

// input
// 	-webkit-text-size-adjust 140%;
